.frist-wallet{ 
    height: 35px;
    width: 100px;
    border: 1px solid rgb(216, 175, 114);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-left: 7px;
    
    
  
    
}

.second-wallet{
    
  
    height: 35px;
    width: 100px;
    border: 1px solid rgb(216, 175, 114);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    
    margin-left: 7px;
}

.secondicon{
    margin-left: 9px;

}
.right-icon{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    color: rgb(216, 175, 114);
    border-radius: 50%;
    margin-left: 1rem;
    border: 2px solid rgb(216, 175, 114);
    background: transparent;
    /* margin-right: 1rem; */
    margin-top: 9px;

}
/* .container{
    display: flex;
} */





/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 5px; /* Adjust the width */
    background-color: #cfa86d;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: transparent; /* Background color of the thumb */
    border-radius: 5px; /* Rounded corners */
}



.css-h4y409-MuiList-root {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
}
/* .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background: #272727;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    outline: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
} */


.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #272727;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    outline: 0;
    left: 0;
}